/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: auto;
  max-width: 1000px;
  padding: 4rem 0 4rem 0;
  font-family: "Inter", sans-serif;
  /* Start color: Black */
  /* background-color: #000; */
  background-color: rgb(38 38 38);
  /* gradient from black to red */
  /* background-image: linear-gradient(62deg, #000 50%, #ff0000 100%); */
  line-height: 1.5;
  /* color: #ffffff;  */
  color: rgb(243 244 246);
}

.video-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
}

#main-video {
  border-radius: 1rem;
  margin-bottom: 1rem;
}

#main-video-title {
  font-size: 2.5rem;
}

#main-video-description {
  font-size: 1.2rem;
  width: 80%;
  text-align: center;
}

.video-list-container {
  padding: 0;
}

.video-list-container h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 videos per row */
  gap: 2rem 1rem;
  padding: 0;
}

.video-item {
  /* border: 1px solid black; */
  border-radius: 1rem;
  overflow: hidden;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  /* Video items have a black background */
  /* background-color: #000;  */
  background-color: rgba(255, 255, 255, 0.1);
}

.video-item iframe {
  width: 100%;
  height: 200px;
  /* border: none; */
  /* border: 5px solid white; */
  /* border-bottom: 1px solid #ccc; */
}

.video-title {
  min-height: 5rem;
}

.video-item .video-title,
.video-description {
  padding: 0 1rem 0rem 1rem;
}

.video-title {
  font-size: 1.5rem;
  /* color: #ffffff; */
  color: rgb(243 244 246);
}

.video-description {
  font-size: 1rem;
  /* color: #ffffff; */
  color: rgb(243 244 246);
}

.comments-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin: 2rem 0;
}

.comments-column {
  flex: 1;
  max-width: 50%;
}

.comment {
  /* Semi-transparent white for contrast */
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  /* color: #ffffff;  */
  color: rgb(243 244 246);
  font-size: 0.9rem;
  line-height: 1.4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  height: 12rem;
  overflow: scroll;
}
