<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='video.css') }}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  </head>
  <body>
    <div class="video-main-container">
      <iframe
        id="main-video"
        width="100%"
        height="480px"
        src="https://www.youtube.com/embed/{{ data.youtube_video_code }}"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
      <h1 id="main-video-title">{{ data.title }}</h1>
      <p id="main-video-description">{{ data.summary }}</p>
    </div>

    <div
      id="polarChart"
      style="width: 100%; height: 500px; margin-left: auto; margin-right: auto"
    ></div>

    <div class="comments-container">
      <div class="comments-column" id="positive-comments-column">
        <h2>Top Positive Comments</h2>
        {% if positive_comments|length == 0 %}
        <div class="comment">
          <p>There are no comments</p>
        </div>
        {% endif %} {% for comment in positive_comments %}
        <div class="comment">
          <p>{{ comment.username }}</p>
          <p>Likes: {{ comment.comment_likes }}</p>
          <p>Sentiment: {{ comment.sentiment }}</p>
          <p>{{ comment.body | safe }}</p>
        </div>
        {% endfor %}
      </div>
      <div class="comments-column" id="negative-comments-column">
        <h2>Top Negative Comments</h2>
        {% if negative_comments|length == 0 %}
        <div class="comment">
          <p>There are no comments</p>
        </div>
        {% endif %} {% for comment in negative_comments %}
        <div class="comment">
          <p>{{ comment.username }}</p>
          <p>Likes: {{ comment.comment_likes }}</p>
          <p>Sentiment: {{ comment.sentiment }}</p>
          {{ comment.body | safe }}
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="video-list-container" id="video-list-container">
      <h2>Recommended Videos</h2>
      <div class="grid-container" id="recommended-videos-grid">
        {% for video in related_videos.iloc %}
        <div class="video-item">
          <iframe
            src="https://www.youtube.com/embed/{{ video.youtube_video_code }}"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <h3 class="video-title">{{ video.title }}</h3>
          <p class="video-description">{{ video.summary }}</p>
        </div>
        {% endfor %}
      </div>
    </div>

    <script>
      // NOTE: you MUST use single quotes or it will break. This is because
      // the contents of polar_chart_json have double quotes that are not escaped.
      var polarData = JSON.parse('{{ polar_chart_json }}');
      Plotly.newPlot("polarChart", polarData);
    </script>
  </body>
</html>
